h1 {
    background-color: rgb(109, 113, 107);
    color: #fff;
    text-align: center;
}

h2 {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.container {
    width: 70%;
}

.coluna-card {
    padding-bottom: 40px;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}